@media (max-width: 1336px) {
  .top-content {
    height: 36px;
  }
  .top-content .top-left {
    width: 150px;
    padding-left: 33px;
  }
  .top-content .top-left .logo {
    height: 23px;
    width: 74px;
  }
  .top-content .top-middle {
    left: 150px;
    width: calc(100% - 360px);
  }
  .top-content .order-item {
    height: 36px;
  }
  .top-content .top-right {
    height: 36px;
    width: 210px;
  }
  .top-content .user-pic {
    width: 23px;
    height: 23px;
    border-radius: 12px;
  }
  .top-content .user-name {
    font-size: 10px;
  }
  .top-content .login-out {
    font-size: 10px;
  }
  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }
  .sidebar-content {
    width: 150px;
    height: calc(100% - 36px);
  }
  .collapse-sidebar {
    width: 64px;
  }
  .el-menu--popup .el-menu-item,
  .el-menu--popup .el-submenu__title {
    height: 28px;
    line-height: 28px;
    font-size: 10px;
  }
  .main {
    left: 150px;
    top: 36px;
    padding: 0 14px !important;
  }
  .el-breadcrumb {
    height: 38px;
    line-height: 38px;
    font-size: 10px;
  }
  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }
  .sidebar-content {
    width: 150px;
    height: calc(100% - 36px);
  }
  .collapse-sidebar {
    width: 64px;
  }
  .el-menu-item,
  .el-submenu__title {
    height: 40px;
    line-height: 40px;
    font-size: 12px !important;
  }
  .sidebar-content .el-submenu .el-menu-item {
    height: 28px;
    line-height: 28px;
    font-size: 10px;
  }
  .el-menu--collapse .el-menu .el-submenu,
  .el-menu--popup {
    min-width: 136px;
  }
  .collapse-btn {
    left: 150px;
  }
  .main {
    left: 150px;
    padding: 14px;
  }
  .el-pagination button {
    font-size: 10px;
    height: 23px;
    line-height: 23px;
  }
  .el-pager li {
    height: 23px;
    line-height: 23px;
  }
  .collapse-btn {
    left: 150px;
  }
  .collapse-main {
    left: 64px;
  }
  .el-tabs__item {
    font-size: 10px;
    height: 38px;
    line-height: 38px;
  }
  .el-form-item--mini.el-form-item,
  .el-form-item--small.el-form-item {
    margin-bottom: 10px;
  }
  .el-form-item__label {
    font-size: 10px;
  }
  .el-form-item--mini .el-form-item__content,
  .el-form-item--mini .el-form-item__label {
    height: auto;
  }
  .el-form-item--mini .el-form-item__content,
  .el-form-item--mini .el-form-item__label {
    line-height: 23px;
  }
  .el-form-item--mini .el-form-item__error {
    padding-top: 2px;
  }
  .el-form-item__error {
    font-size: 10px;
  }
  .el-input--mini .el-input__inner {
    font-size: 10px;
    line-height: 23px;
    height: 23px;
    padding: 0 10px;
    vertical-align: top;
  }
  .el-input--prefix .el-input__inner {
    padding-left: 30px;
  }
  .el-button--mini,
  .el-button--mini.is-round {
    padding: 4px 10px;
  }
  .el-radio__label {
    font-size: 10px;
    vertical-align: middle;
  }
  .el-radio__inner {
    width: 12px;
    height: 12px;
  }
  .el-cascader--mini {
    font-size: 10px;
    line-height: 23px;
  }
  .el-cascader-menu__wrap {
    height: 170px;
  }
  .el-cascader-panel {
    font-size: 12px;
  }
  .el-cascader .el-input .el-icon-arrow-down {
    font-size: 10px;
  }
  .el-input--mini .el-input__icon {
    line-height: 25px;
  }
  .el-cascader-node {
    padding: 0 16px 0 12px;
    height: 26px;
    line-height: 26px;
  }
  .el-radio,
  .el-radio--medium.is-bordered .el-radio__label {
    font-size: 10px;
  }
  .el-cascader-node__label {
    font-size: 10px;
  }
  .el-select-dropdown__item {
    font-size: 10px;
    height: 28px;
    line-height: 28px;
  }
  .el-select-dropdown__empty {
    padding: 6px 0;
    font-size: 10px;
  }
  .el-date-editor.el-input,
  .el-date-editor.el-input__inner {
    width: 160px;
  }
  .el-date-range-picker__content {
    padding: 10px;
  }
  .el-range-editor--mini.el-input__inner {
    height: 23px;
  }
  .el-range-editor.el-input__inner {
    padding: 3px 6px;
  }
  .el-range-editor--mini .el-range-separator {
    line-height: 14px;
    font-size: 10px;
  }
  .el-range-editor--mini .el-range__close-icon,
  .el-range-editor--mini .el-range__icon {
    line-height: 14px;
  }
  .el-date-editor .el-range__icon {
    font-size: 10px;
  }
  .el-date-editor .el-input__icon {
    line-height: 23px;
  }
  .el-date-range-picker__header {
    height: 23px;
  }
  .el-picker-panel__icon-btn {
    font-size: 10px;
    margin-top: 4px;
  }
  .el-picker-panel {
    line-height: 23px;
  }
  .el-date-range-picker__header div {
    font-size: 14px;
  }
  .el-date-table th {
    padding: 2px;
    font-size: 10px;
  }
  .el-date-table td,
  .el-date-table td div {
    height: 23px;
  }
  .el-date-table td span {
    line-height: 23px;
  }
  .el-table td,
  .el-table th {
    padding: 2px 0;
  }
  .el-table__fixed-body-wrapper {
    top: 38px;
  }
  .el-table th > .cell {
    font-size: 10px;
  }
  .el-table .cell {
    font-size: 10px;
  }
  .el-table-filter__checkbox-group label.el-checkbox {
    margin-bottom: 4px;
  }
  .el-table-filter__checkbox-group {
    padding: 6px;
  }
  .el-checkbox__inner {
    width: 10px;
    height: 10px;
  }
  .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
    top: 3px;
  }
  .el-checkbox__inner::after {
    height: 4px;
    left: 2px;
    width: 1px;
  }
  .el-checkbox__label {
    padding-left: 6px;
  }
  .el-checkbox__label {
    font-size: 10px;
  }
  .el-table-filter__bottom button {
    font-size: 10px;
  }
  .el-table__empty-block {
    min-height: 40px;
    font-size: 12px;
  }
  .el-table__empty-block .el-table__empty-text {
    line-height: 40px;
  }
  .el-button--small,
  .el-button--small.is-round {
    padding: 4px 4px;
  }
  .el-pagination__editor.el-input .el-input__inner {
    font-size: 10px;
    height: 23px;
    line-height: 23px;
  }
  .el-pager li {
    font-size: 10px;
  }
  .el-form-item__content .el-input-group {
    vertical-align: middle;
  }
  .el-select .el-input .el-select__caret {
    font-size: 10px;
    line-height: 25px;
  }
  .el-select .el-input .el-icon-circle-close {
    top: 10px;
  }
  .el-select-dropdown__item {
    font-size: 10px;
    height: 24px;
    line-height: 24px;
  }
  .el-popper {
    margin-top: 6px;
  }
  .el-pagination span:not([class*="suffix"]) {
    height: 23px;
    line-height: 23px;
    font-size: 10px;
  }
  .el-icon {
    line-height: 23px;
  }
  .el-pager .more::before {
    line-height: 23px;
  }
  .el-dialog__header {
    padding: 10px 10px 6px;
  }
  .el-dialog__title {
    line-height: 24px;
    font-size: 14px;
  }
  .el-dialog__headerbtn {
    top: 10px;
    font-size: 16px;
  }
  .mini-content .el-icon {
    line-height: 20px;
  }
  .el-dialog__body {
    padding: 16px 10px;
    font-size: 14px;
  }
  .el-dialog__footer {
    padding: 10px 20px 20px;
  }
  .el-message-box {
    width: 240px;
  }
  .el-message-box__header {
    padding: 10px 10px 6px;
  }
  .el-message-box__title {
    font-size: 14px;
  }
  .el-message-box__headerbtn {
    top: 8px;
  }
  .el-message-box__message p {
    line-height: 20px;
    font-size: 12px;
  }
  .el-message-box__status + .el-message-box__message {
    padding-left: 26px;
  }
  .el-message-box__status {
    font-size: 20px!important;
  }
  .el-tree-node__label {
    font-size: 10px;
  }
}
.el-upload--picture-card {
  width: 100px;
  height: 100px;
  line-height: 108px;
}
.el-upload-list--picture-card .el-upload-list__item {
  width: 100px;
  height: 100px;
  line-height: 108px;
}
.el-upload-list--picture-card .el-upload-list__item-status-label i {
  position: absolute;
  right: 16px;
  top: 2px;
}
